* {
    box-sizing: border-box;
    font-family: 'Raleway', 'Aldrich', sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
}

.page {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template:  1fr 5fr / 1fr  5.5fr ;
    
}

.header {
    background-color: white;
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.top-header,
.bottom-header {

    grid-column: 1 / 3;

}

.top-header {
    display: flex;
    justify-content: space-between;
}

.bottom-header {
    display: flex;
    justify-content: space-between;
}

.profile-holder {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
}

.profile-holder > p {

    font-family:'Raleway', 'Aldrich', sans-serif;
    font-size: 25px;
    color: black;

}

.button-holder {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 50px;
}

.button-holder > button {
    height: 55px;
    width: 150px;
    background-color: #3b3939;
    color: white;
    font-family:'Raleway', 'Aldrich', sans-serif;
    font-size: 20px;
    border-radius: 25px;

}

.search-box {
    display: flex;
    gap: 5px;
}

.top-header-right {
    display: flex;
    gap: 25px;
    
}

.top-header-right > p {
    margin-right: 65px;
    font-family: 'Raleway', 'Aldrich', sans-serif;
}


.search-box,
.top-header-right {
    
    align-items: flex-start;
}


.search-box *,
.top-header * {
    align-self: center;
}

#profile-picture {
    height: 70px;
    width: 70px;
    border-radius: 35px;
}


#notification-bell {
    background: white;
    border: none;
}

#magnify-glass {
    background: white;
    width: 100px;
    border: none;
}

#search-item {
    width: 400px;
    height: 30px;
    border-radius: 30px;
}



.sidebar {
    background-color: #403c3b;
    /*background-color: white;*/
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr;
}


.sidebar-title {

    margin: auto;
    font-family:'Raleway', 'Aldrich', sans-serif;
    font-size: 35px;
    color: white; 

}

/*
.sidebar-pages {
    display: flex;
    flex-direction: column;
    align-items: center; 
}
*/

li {

    list-style-type: none;

}

.sidebar-pages > ul {
    list-style-type: none;
    color: white;
    font-family:'Raleway', 'Aldrich', sans-serif;
    font-size: 25px;
    /*font-size: calc(25px - 0.4vw);*/
    margin-left: 50px;
}

.main-content {
    background-color: #a3837a;
    display: grid;
    grid-template-columns: 2fr  1fr;

}

.news {
    background-color: #baa482;
    display: flex;
    flex-direction: column;
    grid-area: 1 / 2 / 2 / 3;
}

.announce {
    background-color: #d9c4ba;
    height: 300px;
    /*
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 1fr;
    */
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

}

.trending {
    /*
    display: grid;
    grid-template-rows: 1fr 10fr;
    grid-template-columns: 1fr 1fr;
    */
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}


.announce > p,
.trending > p {

    color: white;
    font-family:'Raleway', 'Aldrich', sans-serif;
    font-size: 20px;
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}


.announce-grid,
.trending-grid {

    height: 315px;
    width: 350px;
    background-color: white;
    border-radius: 25px;

}


.projects {
    display: grid;
    grid-template: 1fr 4fr 4fr 4fr / 1fr 1fr ;
}

.unit {
    background-color: rgb(133, 116, 116);
    width: 100%;
    height: 100%;
}

.title {
    grid-area: 1 / 1 / 2 / 3;
}

.projects > .unit {

    display: flex;
    align-items: center;
    justify-content: center;

}

.card {
    background-color: white;
    width: 75%;
    height: 85%;
    border-radius: 25px;

}

.title {
    font-family:'Raleway', 'Aldrich', sans-serif;
    font-size: 35px;
    margin: auto;
}

